<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>SHETI NAMA</title>
    
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename = 'bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/fontawesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/templatemo-grad-school.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/owl.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/lightbox.css')}}">
<!--
    
TemplateMo 557 THE DATA TECH LAB

https://templatemo.com/tm-557-THE DATA TECH LAB

-->
  </head>

<body>

  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><em>Farm</em>Hires</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="#section1">Home</a></li>
        <li class="has-submenu"><a href="#section2">About Us</a>
          <ul class="sub-menu">
            <li><a href="#section2">Who we are?</a></li>
            <li><a href="#section3">What we do?</a></li>
            <li><a href="#section3">How it works?</a></li>

          </ul>
        </li>
        <li><a href="#section4">Services</a></li>
        <!-- <li><a href="#section5">Video</a></li> -->
        <li><a href="#section6">Contact</a></li>
      </ul>
    </nav>
  </header>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="{{url_for('static',filename = 'images/course-video.mp4')}}" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
              <h6>FarmHires</h6>
              <h2><em>EVERYTHING ABOUT </em>FARMING </h2>
              <div class="main-button">
                  <div class="scroll-to-section"><a href="#section2">Discover more</a></div>
              </div>
          </div>
      </div>
  </section>

  
        
  </section>

  <section class="section courses" data-section="section4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Choose Your Service</h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme">
          <div class="item">
            <a href="https://youtu.be/G6DmDqYLWL8"><img src="{{url_for('static',filename = 'images/courses-01.jpg')}}" alt="Course #1" >  </a>
            <div class="down-content">
              <h4>Rent Your Farm</h4>
              <p>'Rent Your Farm' is a concept where landowners can rent out their farmland to other farmers for a set period of time. This can be a great way for landowners to earn additional income from their land while helping to support the farming 
                industry and provide opportunities for new or experienced farmers.</p>           
               </div>
          </div>
          <div class="item">
            <a href="https://youtu.be/deMpBGYz7pY"><img src="{{url_for('static',filename = 'images/courses-02.jpg')}}" alt="Course #2"> </a>
            <div class="down-content">
              <h4>Buy Machineries and equipments</h4>
              <p>'Buy or Rent Machinery and Equipment' is a concept that provides farmers with access to the necessary tools and equipment to efficiently and effectively manage their farming operations. Whether they choose to buy or rent the equipment, this approach can help
                farmers to reduce costs, improve efficiency, and increase productivity.</p>
              
            </div>
          </div>
          <div class="item">
           <a href="https://youtu.be/LSaUyqCTd6I"><img src="{{url_for('static',filename = 'images/courses-03.jpg')}}" alt="Course #3"> </a>
            <div class="down-content">
              <h4>Sell Your Product</h4>
              <p>'Sell Your Product' is a concept that enables farmers to market and 
                sell their agricultural products directly to consumers, bypassing the traditional supply chain intermediaries such as wholesalers and retailers. This approach can help farmers to increase their profitability, establish direct relationships with customers, and ensure 
                that their products are sold at a fair price.</p>
              
            </div>
          </div>
          
          
      </div>
    </div>
  </section>
  



  <section class="section contact" data-section="section6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Lets Keep In Touch</h2>
          </div>
        </div>
        <div class="col-md-6">
        
        <!-- Do you need a working HTML contact-form script?
                	
                    Please visit https://templatemo.com/contact page -->
                    
          <form id="contact" action="/submit" method="post">
            <div class="row">
              <div class="col-md-6">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                  </fieldset>
                </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Send Message Now</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        
  </section>

  

  <!-- Scripts -->

    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="static/js/isotope.min.js"></script>
    <script src="static/js/owl-carousel.js"></script>
    <script src="static/js/lightbox.js"></script>
    <script src="static/js/tabs.js"></script>
    <script src="static/js/video.js"></script>
    <script src="static/js/slick-slider.js"></script>
    <script src="static/js/custom.js"></script>
    



     
        <script>
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
          if($(e.target).hasClass('external')) {
            return;
          }
          e.preventDefault();
          $('#menu').removeClass('active');
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>
</html>