<!DOCTYPE html>
<html>
  <head>
    <title>Services - Tools, Machinery, and More</title>
  </head>
  <body>
    <header>
      <h1>Services</h1>
      
    </header>
    <main>
      <section id="tools">
        <h2>Tools</h2>
        <select id="Tools" name="Tools">
          <option value="None">None</option>
          <option value="Handle Tools">Handle Tools</option>
          <option value="Power Tools">Power Tools</option>
          <option value="Gardening Tools">Gardening Tools</option>
          <option value="Construction Tools">Construction Tools</option>
        </select>

        <input type="submit" value="Submit" />
        <br />

        <section id="Machinery">
            <h2>Machinery</h2>
            <select id="Machinery" name="Machinery">
              <option value="None">None</option>
              <option value="Construction Machinery">Construction Machinery</option>
              <option value="agricultural Machinery">agricultural Machinery</option>
              <option value="Industrial Machinery">Industrial Machinery</option>
              <option value="Transportation Machinery">Transportation Machinery</option>
            </select>
    
            <input type="submit" value="Submit" />
      <section id="services">
        <h2>Other Services</h2>
        <select id="Machinery" name="Machinery">
            <option value="None">None</option>
            <option value="Landscaping Services">Landscaping Services</option>
            <option value="Construction Services">Construction Services</option>
            <option value="Repair Services">Repair Services</option>
            <option value="Cleaning Services">Cleaning Services</option>
          </select>
  
          <input type="submit" value="Submit" />
      </section>

    </main>
    <footer>
      <p>&copy; 2021 Services - Tools, Machinery, and More</p>
    </footer>
  </body>
</html>
